<h3>this is the index</h3>

{{#each model as |question|}}
  {{tile-question question=question}}
  {{edit-question question=question update="update" delete="delete"}}
  <hr>
{{/each}}
{{new-question save="save"}}
